* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.headers {
    height: 10rem;
    width: 100%;
    padding: 12px;
    background-color: #5DC1B9;
    font-size: 2rem;
    color: black;
    display: inline-block;
}
.headers ul {
    text-align: right;
    position: absolute;
    right: 24px;
    top: 30px;
}
.headers .menu li {
    display: inline;
    margin: 12px;
}
.footers {
    height: 10rem;
    width: 100%;
    padding: 12px;
    background-color: #5DC1B9;
    font-size: 2rem;
    color: black;
    display: inline-block;
}
.footers .footer-menu {
    text-align: right;
    position: absolute;
    right: 24px;
    bottom: 60px;
}
.footers .footer-menu li {
    display: inline;
    margin: 12px;
}
.footers .footer-menu li a {
    text-decoration: none;
}
main {
    height: 57rem;
    width: 100%;
}